<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bodyFont</key>
	<string>HelveticaNeue</string>
	<key>bodyFontSize</key>
	<string>17</string>
	<key>headerFont</key>
	<string>HelveticaNeue-Bold</string>
	<key>headerFontSize</key>
	<string>30</string>
	<key>bodyTextColor</key>
	<string>bbbbbb</string>
	<key>backgroundColor</key>
	<string>db3a3a</string>
	<key>buttonFont</key>
	<string>Avenir-Black</string>
	<key>buttonFontSize</key>
	<string>20</string>
	<key>buttonTextColor</key>
	<string>faf3a5</string>
	<key>headerColor</key>
	<string>030303</string>
</dict>
</plist>
