<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INHERITED_THEME</key>
	<string>default</string>
	<key>buttonTextColor</key>
	<string>ffffff</string>
	<key>backgroundColor</key>
	<string>313131</string>
	<key>primaryColor</key>
	<string>7ff102</string>
	<key>bodyTextColor</key>
	<string>ffffff</string>
	<key>headerColor</key>
	<string>ffffff</string>
	<key>secondaryColor</key>
	<string>e853c5</string>
	<key>buttonSelectedTextColor</key>
	<string>505050</string>
</dict>
</plist>
