<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INHERITED_THEME</key>
	<string>default</string>
	<key>primaryColor</key>
	<string>9053fd</string>
	<key>secondaryColor</key>
	<string>eb6045</string>
	<key>buttonColor</key>
	<string>463937</string>
	<key>headerFont</key>
	<string>Courier-Bold</string>
	<key>bodyFontSize</key>
	<string>20</string>
	<key>backgroundColor</key>
	<string>fbecc5</string>
</dict>
</plist>
